<!-- подгружаем тэг для использования функции  get_favorite_command -->
{% load extra_tags %}
{% for user in page_obj %}
  <ul>
    <li>
      Пользователь: {{ user.username }}
    </li>
    <li>
      Роль: {{ user.role }}
    </li>
    {% if user.recipient.count %}
    {% get_favorite_command user.recipient.all as command %}
	  <li>
	  	За все время воспользовался ботом вот столько: {{ user.recipient.count }}
	  </li>
	  <li>
		  Любимая команда: {{ command.1 }}
    </li>
    <li>
      Он нажимал ее очень много раз: {{ command.0 }}
    </li>
    {% else %}
    <li>
      К сожалению он вообще не пользовался моим ботом, грустно
    </li>
    {% endif %}
  </ul>
  {% endfor %}
  {% if not forloop.last %}<hr>{% endif %} 