{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h1>При создании использовал</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
      <li class="list-group-item">
        aiogram
      </li>
      <li class="list-group-item">
        beautifulsoup4
      </li>
      <li class="list-group-item">
        Pillow
      </li>
      <li class="list-group-item">
        python-dotenv
      </li>
      <li class="list-group-item">
        sorl-thumbnail
      </li>
      <li class="list-group-item">
        HTML
      </li>
      <li class="list-group-item">
        CSS
      </li>
      <li class="list-group-item">
        Bootstrap
      </li>
      <li class="list-group-item">
        Git
      </li>
    </ul>
  </aside>
</div>
{% endblock %}